.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  // &:fullscreen {
  //   .control .bar .content .option {
  //     transform: scale(1.2);
  //   }
  // }

  .video {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-color: black;
  }

  .subtitle {
    .video::cue {
      background-color: transparent;
    }
    &.size-1 {
      .video::cue {
        font-size: 12px;
      }
    }
    &.size-2 {
      .video::cue {
        font-size: 24px;
      }
    }
    &.size-3 {
      .video::cue {
        font-size: 36px;
      }
    }
    &.size-4 {
      .video::cue {
        font-size: 48px;
      }
    }
    &.size-5 {
      .video::cue {
        font-size: 60px;
      }
    }

    &.margin-1 {
      .video::cue {
        line-height: 30px;
      }
    }
    &.margin-2 {
      .video::cue {
        line-height: 60px;
      }
    }
    &.margin-3 {
      .video::cue {
        line-height: 100px;
      }
    }
    &.margin-4 {
      .video::cue {
        line-height: 140px;
      }
    }
    &.margin-5 {
      .video::cue {
        line-height: 180px;
      }
    }
    &.color-1 {
      .video::cue {
        color: white;
      }
    }
    &.color-2 {
      .video::cue {
        color: #ff0000;
      }
    }
    &.color-3 {
      .video::cue {
        color: #ff7d00;
      }
    }
    &.color-4 {
      .video::cue {
        color: #ffff00;
      }
    }
    &.color-5 {
      .video::cue {
        color: #00ff00;
      }
    }
    &.color-6 {
      .video::cue {
        color: #0000ff;
      }
    }
    &.color-7 {
      .video::cue {
        color: #00ffff;
      }
    }
    &.color-8 {
      .video::cue {
        color: #ff00ff;
      }
    }
  }

  :global(video::-webkit-media-controls) {
    display: none !important;
  }

  .control {
    z-index: 8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    .message {
      position: absolute;
      bottom: 60px;
      left: 15px;
      padding: 8px 12px;
      background-color: rgba(0, 0, 0, 0.75);
      color: white;
      border-radius: 4px;
      font-size: 14px;
      line-height: 14px;
    }

    .loading {
      width: 45px;
      height: 45px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation: rotate 1s linear infinite;
      fill: white;

      @keyframes rotate {
        from {
          transform: rotateZ(0);
        }
        to {
          transform: rotateZ(360deg);
        }
      }
    }

    &:hover {
      .bar.play {
        display: block;
      }
    }

    .bar {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      z-index: 9;
      display: none;

      &.play {
      }

      &.pause {
        display: block;
      }

      &:before {
        content: '';
        position: absolute;
        height: 0px;
        width: 100%;
        box-shadow: 0 -2px 50px 25px rgba(0, 0, 0, 0.7);
        left: 0;
        bottom: 0;
        z-index: -1;
      }

      .content {
        position: relative;
        height: 100%;
        padding: 0 10px;
        box-sizing: border-box;

        .option {
          display: flex;
          justify-content: space-between;
          align-items: center;
          line-height: 100%;
          height: 40px;
          z-index: 18;

          .left {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .duration {
              user-select: none;
              margin-left: 8px;
              color: white;
              opacity: 0.8;
              font-size: 13px;
            }
          }

          .right {
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
          }

          .icon {
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: relative;

            .iconfont {
              width: 25px;
              height: 20px;
              color: white;
              fill: currentColor;
            }

            .tips {
              position: absolute;
              background-color: rgba(0, 0, 0, 0.6);
              padding: 5px 8px;
              border-radius: 3px;
              top: -8px;
              left: 17.5px;
              transform: translate(-50%, -100%);
              display: none;
              font-size: 12px;
              color: white;
              white-space: pre;
              user-select: none;
            }

            .volumePanel {
              width: 35px;
              position: absolute;
              bottom: 30px;
              left: 17.5px;
              transform: translate(-50%, 0);
              z-index: 29;
              display: none;

              .volumeCon {
                width: 100%;
                background-color: rgba(21, 21, 21, 0.9);
                border-radius: 3px;
                font-size: 12px;
                color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 6px 0 10px 0;
                justify-content: space-between;
                margin-bottom: 16px;
                position: relative;

                .volumeBg {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  background-color: transparent;
                  top: 0;
                  left: 0;
                  z-index: 29;
                }

                .volumeProgress {
                  margin-top: 8px;
                  height: 70px;
                  width: 2px;
                  background-color: rgba(255, 255, 255, 0.6);
                  display: flex;
                  align-items: flex-end;

                  span {
                    user-select: none;
                  }

                  .volumeCurrent {
                    width: 100%;
                    position: relative;

                    &:after {
                      content: '';
                      position: absolute;
                      right: 1px;
                      top: 0px;
                      width: 10px;
                      height: 10px;
                      border-radius: 50%;
                      background-color: inherit;
                      transform: translate(50%, -50%);
                    }
                  }
                }
              }
            }

            .settingPanel {
              position: absolute;
              bottom: 45px;
              right: -65px;
              cursor: default;
              color: #fff;
              width: 266px;
              box-sizing: border-box;
              background: rgba(21, 21, 21, 0.9);
              border-radius: 2px;
              padding: 12px 20px;
              text-align: left;
              font-size: 12px;
              display: none;

              &:before {
                content: '';
                width: 100%;
                height: 30px;
                position: absolute;
                bottom: -15px;
                right: 0;
                z-index: 29;
              }

              &:after {
                content: '';
                width: 35px;
                height: 30px;
                position: absolute;
                bottom: -20px;
                right: 65px;
                z-index: 29;
              }

              .settingCon {
                width: 100%;
                height: auto;

                p {
                  margin: 0;
                }

                .settingList {
                  margin-bottom: 12px;
                  .labelCon {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .labelList {
                      margin-top: 6px;
                      width: calc((100% - 8px) / 2);
                      background-color: hsla(0, 0%, 100%, 0.3);
                      line-height: 24px;
                      border-radius: 2px;
                      text-align: center;
                      cursor: pointer;

                      &:hover {
                        background-color: hsla(0, 0%, 100%, 0.4);
                      }
                    }

                    .labelList1 {
                      width: 20%;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 26px;
                      cursor: pointer;
                      user-select: none;
                      padding-bottom: 3px;
                      border-bottom: solid 2px hsla(0, 0%, 100%, 0.3);
                      position: relative;

                      .ratedot {
                        position: absolute;
                        bottom: -3px;
                        height: 4px;
                        width: 2px;
                        background-color: hsla(0, 0%, 100%, 0.3);
                      }

                      .rateSelect {
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        position: absolute;
                        bottom: -7px;
                      }

                      &:nth-child(1) {
                        width: 10%;
                        text-align: left;

                        .rate {
                          margin-left: -8px;
                        }

                        .ratedot {
                          left: 0;
                        }

                        .rateSelect {
                          left: 0px;
                        }
                      }

                      &:nth-last-child(1) {
                        width: 10%;
                        text-align: right;

                        .rate {
                          margin-right: -8px;
                        }

                        .ratedot {
                          right: 0;
                        }

                        .rateSelect {
                          right: 0px;
                        }
                      }

                      &.sec4 {
                        width: 25%;

                        &:nth-child(1) {
                          width: 12.5%;
                        }

                        &:nth-last-child(1) {
                          width: 12.5%;
                        }
                      }
                    }

                    .labelList12 {
                      width: 18px;
                      height: 18px;
                      border-radius: 50%;
                      cursor: pointer;
                      display: flex;
                      justify-content: center;
                      align-items: center;

                      .selectIcon {
                        width: 14px;
                        height: 14px;
                      }

                      &:nth-child(1) {
                        background-color: white;
                      }
                      &:nth-child(2) {
                        background-color: #ff0000;
                      }
                      &:nth-child(3) {
                        background-color: #ff7d00;
                      }
                      &:nth-child(4) {
                        background-color: #ffff00;
                      }
                      &:nth-child(5) {
                        background-color: #00ff00;
                      }
                      &:nth-child(6) {
                        background-color: #0000ff;
                      }
                      &:nth-child(7) {
                        background-color: #00ffff;
                      }
                      &:nth-child(8) {
                        background-color: #ff00ff;
                      }
                    }

                    .labelList2 {
                      width: calc((100% - 16px) / 3);
                      display: flex;
                      justify-content: center;
                      align-items: center;
                      height: 26px;
                      cursor: pointer;
                      user-select: none;

                      .check {
                        width: 14px;
                        height: 14px;
                        margin-right: 6px;
                        fill: currentColor;
                      }
                    }
                  }
                }
              }
            }

            &:hover {
              .tips,
              .volumePanel,
              .settingPanel {
                display: inline-block;
              }
            }
          }
        }

        .progress {
          position: absolute;
          top: -8px;
          left: 15px;
          width: calc(100% - 30px);
          padding: 5px 0;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: -5px;
          z-index: 19;
          cursor: pointer;

          .line {
            position: relative;
            height: 3px;
            width: 100%;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.3);

            .buffered {
              z-index: -1;
              left: 0;
              top: 0;
              position: absolute;
              height: 100%;
              background-color: rgba(255, 255, 255, 0.6);
            }

            .current {
              height: 100%;
              position: relative;

              &:after {
                content: '';
                display: none;
                position: absolute;
                right: 0;
                top: 1px;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: inherit;
                transform: translate(50%, -43.75%);
              }
            }
          }

          .currentTime {
            background-color: rgba(0, 0, 0, 0.6);
            padding: 3px 6px;
            border-radius: 3px;
            display: inline-block;
            position: absolute;
            top: -5px;
            transform: translate(-50%, -100%);
            display: none;
            font-size: 12px;
            color: white;
            z-index: -1;
            pointer-events: none;
          }

          .thumbnail {
            position: absolute;
            z-index: -2;
            background-color: black;
            width: 160px;
            height: 90px;
            top: -95px;
            transform: translateX(-50%);
            display: none;
            z-index: -2;
            pointer-events: none;
          }

          &:hover {
            .currentTime,
            .thumbnail {
              display: inline-block;
            }

            .current:after {
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .danmu {
    z-index: 2147483647;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
